/* Base styles */
body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

/* Fonts */
.sf-pro-display-font {
    font-family: "SF Pro Display", sans-serif;
    font-stretch: expanded;
}

/* Main section */
main {
    background-image: url("png/FilmPic1.png");
    background-position: center 0%; /* horizontal center */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2; /* sandwich between nav toggle and nav menu */

    /* Transition for smooth transform */
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

/* Navigation */

/* nav bar container */
nav {
    height: auto; /* nearly half page */
    width: 100%;
    position: absolute;
    bottom: 3rem;
    z-index: 1; /* bottom layer */
}

/* Navigation links container */
#nav-links {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    bottom: 3rem;
    gap: clamp(1rem, 3vw, 4rem); /* gap between elements */

    /* Transform and transition for smooth reveal of navigation links */
    transform: translateY(50%) scale(0.9);
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}

/* Navigation link button */
#nav-links > .nav-link {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none; /* remove underline */
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

/* Navigation link label */
#nav-links > .nav-link > .nav-link-label {
    color: white;
    font-size: 1.17rem;
    margin: 0;
    text-transform: lowercase;
    letter-spacing: 3px; /* space between letters */
}

/* Navigation link image */
#nav-links > .nav-link > .nav-link-image {
    width: calc(90vw / 3); /* width of elements */
    aspect-ratio: 1.77 / 1;
    border-radius: 0.7rem;
    margin-top: 0.75rem;
    object-fit: cover; /* keep that thang proportional */
}

/* Navigation toggle button */
#menu-toggle {
    height: 5rem;
    width: 8rem;
    position: fixed;
    z-index: 3; /* sit on top */
    left: 50%; /* center in page */
    bottom: 3rem; /* space to bottom */
    transform: translateX(-50%); /* center in page */
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 37%);
    cursor: pointer;

    /* Transitions for smooth hover and active states */
    transition: transform, background-color; /* trans transform & bg color */
    transition-timing-function: ease;
    transition-duration: 800ms;
}

/* Animate hover and click on menu toggle  */
#menu-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#menu-toggle:active {
    transform: translateX(-50%) scale(0.96);
}

/* child element: image in menu toggle */
#menu-toggle > img {
    width: 1.7rem;
    height: auto;
    aspect-ratio: initial;
    position: absolute;
    left: 50%;
    top: 50%; /* center */
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0; /* default to invisible */

    /* Transition for smooth reveal of icons */
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 800ms;
}

/* Change menu toggle icon to open symbol when nav is open */
body:not([data-nav="true"]) > #menu-toggle:hover > .open {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Change menu toggle icon to close symbol when nav is open */
body[data-nav="true"] > #menu-toggle > .close {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Shift background up when nav toggled */
body[data-nav="true"] > main {
    transform: translateY(-33%);
}

/* Slide in navigation links when nav toggled */
body[data-nav="true"] > nav > #nav-links {
    transform: translateY(-50%) scale(1);
}

/* Change navigation toggle color when nav toggled */
body[data-nav="true"] > #menu-toggle {
    background-color: rgba(85, 130, 149, .8);
}

/* Shift background up when nav toggled */
body[data-nav="true"][data-button-clicked="true"] > main,
body[data-nav="true"][data-button-clicked="true"] > nav {
    transform: translateY(-100%);
}

/* Slide in navigation links when nav toggled */
body[data-nav="true"][data-button-clicked="true"] > nav > #nav-links {
    transform: translateY(0%);
}

/* Change navigation toggle color when nav toggled */
body[data-nav="true"][data-button-clicked="true"] > #menu-toggle {
    background-color: rgba(85, 130, 149, .8);
}

/* Shift menu-toggle up when nav toggled */
body[data-nav="true"][data-button-clicked="true"] > #menu-toggle {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* Image track container */
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* Prevent image highlighting */
    z-index: 1;
}

/* Images inside image track */
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
